$color: (
    background: #fff,
    border: #dcdfe6,
    text: #606266,
    text-light: #adadb4,
    active-background: #ecf5ff,
    active-border: #c6e2ff,
    active-text: #409eff,
    error: #e46b6b
);

$font-size: (
    base: 16px,
    large: 20px
);
