$color-background: #fff;
$color-border: #dcdfe6;
$color-text: #606266;
$color-text-light: #adadb4;
$color-active-background: #ecf5ff;
$color-active-border: #c6e2ff;
$color-active-text: #409eff;  
$color-error: #e46b6b;

$font-size-base: 16px;
$font-size-large: 20px;